@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Cinzel:wght@600&family=Kumar+One+Outline&family=Ledger&family=Londrina+Outline&family=Londrina+Shadow&family=Nova+Square&family=Quicksand:wght@300;500&family=Roboto:wght@100&family=Saira+Stencil+One&family=Train+One&display=swap');


#div-about {
  background-color: rgb(195, 195, 195);
  transition: background 0.3s linear;
}

#div-about-black {
  background-color: rgb(38, 38, 38);
  transition: background 0.3s linear;
}

#section-SobreMim {
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding-top: 10%;
  transition: background 0.3s linear;
}

#title-SobreMim, #title-SobreMim-black  {
  margin-bottom: 30px;
  font-family: 'Bungee Outline', cursive;
  font-size: 40px;
  text-align: center;
  color: rgb(38, 38, 38);
  transition: color 0.3s linear;
}

#title-SobreMim-black {
  color: white;
  transition: color 0.3s linear;
}

#texto-SobreMim, #texto-SobreMim-black {
  font-size: 20px;
  font-family: 'Nova Square', cursive;
  height: 45%;
  margin: auto;
  text-align: center;
  width: 53%;
  color: rgb(38, 38, 38);
  transition: color 0.3s linear;
  /* border: 1px solid blue; */
}

#texto-SobreMim-black {
  color: white;
  transition: color 0.3s linear;
}

#minha-foto {
  border-radius: 50%;
  /* height: 30%; */
  align-items: center;
  width: 10%;
  margin: 4% auto;
}

.div-hidden-sobreMim {
  display: flex;
  flex-direction: column;
  /* visibility: hidden; */
}

@media (max-width: 1015px) {
  #texto-SobreMim, #texto-SobreMim-black {
    width: 85%;
    height: 55%;
  }


  #minha-foto  {
    width: 15%;
  }
}

@media (max-width: 700px) {
  #texto-SobreMim, #texto-SobreMim-black {
    font-size: 16px;
  }


  #minha-foto  {
    width: 20%;
    margin: 11% auto;
  }
}

@media (max-width: 380px) {
  #texto-SobreMim, #texto-SobreMim-black {
    width: 95%;
    font-size: 12px;
    height: 65%;
  }


  #minha-foto  {
    width: 45%;
    margin: 11% auto;
  }
}





