@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Cinzel:wght@600&family=Kumar+One+Outline&family=Ledger&family=Londrina+Outline&family=Londrina+Shadow&family=Nova+Square&family=Quicksand:wght@300;500&family=Roboto:wght@100&family=Saira+Stencil+One&family=Train+One&display=swap');

#footer-Foo {
  background-color: rgb(51,51,51);
  height: 20vh;
}

#div-footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  font-family: 'Nova Square', cursive;
  border: 1px solid green;
}

#title-contact {
  text-align: center;
  font-family: 'Nova Square', cursive;
}

.redes-footer {
  display: flex;
  width: 30%;
  height: 50px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
}

.redes-footer a {
  /* border: 1px solid purple; */
  margin: 2%;
  /* width: 20%; */
}

.img-redes {
  width: 30px;
  margin: 0 auto;
}

#msg-final {
  text-align: center;
}

@media (max-width: 1050px) {
  .redes-footer {
    /* flex-wrap: wrap; */
  }
}

@media (max-width: 480px) {
  .redes-footer {
    width: 70%;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .redes-footer a {
    width: 11%;
  }

  .img-redes {
    width: 100%;
  }

  #title-contact {
    font-size: 15px;
  }

  #email-id {
    font-size: 10px;
  }

  #msg-final {
    font-size: 12px;
  }
}
