@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Cinzel:wght@600&family=Kumar+One+Outline&family=Ledger&family=Londrina+Outline&family=Londrina+Shadow&family=Quicksand:wght@300;500&family=Roboto:wght@100&family=Saira+Stencil+One&family=Train+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

#header-header {
  background-color: rgb(51,51,51);
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background 0.3s linear;
}

#header-header-black {
  background-color: rgb(219, 219, 219);
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background 0.3s linear;
}

#div-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  /* border: 1px solid blue; */
  align-items: center;
}

#iconeTM {
  width: 80px;
  height: 80px;
}

#nav-header {
  align-items: center;
  display: flex;
  margin: 0;
  width: 40%;
  /* border: 1px solid yellow; */
  justify-content: center;
}

#list-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  width: 95%;
  /* border: 1px solid green; */
}

.li-links {
  font-family: 'Nova Square', cursive;
  font-variant-caps: all-petite-caps;
  text-decoration: none;
  color: rgb(51, 51, 51);
  font-size: 25px;
}

.li-links-black {
  font-family: 'Nova Square', cursive;
  font-variant-caps: all-petite-caps;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.li-links:hover {
  font-weight: 800;
}

#div-botoes {
  display: flex;
  width: 13%;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
}

#btn-theme {
  /* border: 1px solid blue; */
  border: none;
  width: 28px;
  height: 28px;
  display: flex;
  background-color: rgba(0, 255, 255, 0);
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

#btn-theme img {
  height: 28px;
  width: 28px;
}

#a-github, #a-linkedin {
  margin: auto;
  text-decoration: none;
  width: 27px;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  height: 27px;
}

#a-github:hover, #a-linkedin:hover, #btn-theme:hover {
  scale: 1.2;
}

#a-github img, #a-linkedin img {
  height: 27px;
  width: 27px;
  /* border: 1px solid green; */
}

@media (max-width: 1150px) {
  #nav-header {
    width: 60%;
  }
}

@media (max-width: 880px) {
  #div-header {
    flex-direction: column;
    align-items: center;
  }

  #iconeTM {
    margin-bottom: 10px;
  }

  #nav-header {
    margin-left: 0;
    width: 100%;
  }

  #list-links {
    flex-direction: column;
    align-items: center;
  }

  .li-links {
    margin: 5px 0;
  }

  #div-botoes {
    width: 30%;
  }
}

/* Media query para telas ainda menores, como dispositivos móveis */
@media (max-width: 480px) {
  #div-header {
    padding: 10px;
  }

  #nav-header {
    margin-left: 0;
    width: 100%;
  }

  #list-links {
    flex-direction: column;
    align-items: center;
  }

  .li-links {
    font-size: 18px;
    margin: 5px 0;
  }

  #div-botoes {
    width: 65%;
    flex-direction: column;
    align-items: center;
  }

  #a-github, #a-linkedin, #btn-theme{
    margin: 2%;
  }
}
