@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Cinzel:wght@600&family=Kumar+One+Outline&family=Ledger&family=Londrina+Outline&family=Londrina+Shadow&family=Quicksand:wght@300;500&family=Roboto:wght@100&family=Saira+Stencil+One&family=Train+One&display=swap');

#section-1-header {
  background-color: rgb(51,51,51);
  display: flex;
  align-items: center;
  padding: 15px;
}

#iconeTM {
  width: 6%;
  margin-left: 5%;
}

#h1-tom {
  margin-left: 5%;
  font-size: 50px;
}

#nav-header {
  align-items: center;
  display: flex;
  margin-left: 10%;
  width: 50%;
}

#list-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.li-links {
  font-family: 'Nova Square', cursive;
  font-variant-caps: all-petite-caps;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.li-links:hover {
  font-weight: 800;
}

#div-botoes {
  display: flex;
  width: 25%;
  justify-content: space-around;
}

#a-github {
  margin-right: 5px;
  margin-left: 5%;
  text-decoration: none;
  width: 36%;
}

#btn-gitHub {
  background-color: rgb(51,51,51);
  border: none;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  font-family: 'Nova Square', cursive;
  font-size: 16px;
  height: 35px;
  font-weight: 800;
  width: 100%;
}

#btn-gitHub:hover {
  border-style: double;
  border-radius: 6px;
}

#a-linkedin {
  margin-right: 5px;
  text-decoration: none;
  width: 40%;
}


#btn-linkedIn {
  background-color: rgb(51,51,51);
  border: none;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  font-family: 'Nova Square', cursive;
  font-size: 16px;
  height: 35px;
  font-weight: 800;
  width: 100%;
}

#btn-linkedIn:hover {
  border-style: double;
  border-radius: 6px;
}

@media (max-width: 768px) {
  #section-1-header {
    flex-direction: column;
    align-items: center;
  }

  #iconeTM {
    margin-bottom: 10px;
  }

  #nav-header {
    margin-left: 0;
    width: 100%;
  }

  #list-links {
    flex-direction: column;
    align-items: center;
  }

  .li-links {
    margin: 5px 0;
  }

  #div-botoes {
    width: 100%;
  }

  #a-github,
  #a-linkedin {
    width: 45%;
  }
}

/* Media query para telas ainda menores, como dispositivos móveis */
@media (max-width: 480px) {
  #section-1-header {
    padding: 10px;
  }

  #h1-tom {
    font-size: 30px;
  }

  #nav-header {
    margin-left: 0;
    width: 100%;
  }

  #list-links {
    flex-direction: column;
    align-items: center;
  }

  .li-links {
    font-size: 18px;
    margin: 5px 0;
  }

  #div-botoes {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #a-github,
  #a-linkedin {
    width: 45%;
  }

  #btn-gitHub,
  #btn-linkedIn {
    font-size: 12px;
  }
}
