@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Kumar+One+Outline&family=Ledger&family=Londrina+Outline&family=Londrina+Shadow&family=Quicksand:wght@300;500&family=Roboto:wght@100&family=Saira+Stencil+One&family=Train+One&display=swap');
/* font-family: 'Cinzel', serif;
font-family: 'Quicksand', sans-serif; */
/* font-family: 'Saira Stencil One', cursive; */

* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  color: white;
}

#header-port {
  background-color: rgb(51,51,51);
  height: 100vh;
  padding-top: 25px;
}

#section-1-header {
  /* border: 1px solid yellow; */
  display: flex;
}

#h1-tom {
  margin-left: 5%;
  font-size: 50px;
}

#nav-header {
  align-items: center;
  /* border: 1px solid blue; */
  display: flex;
  margin-left: 10%;
  width: 50%;
}

#list-links {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

#section-2-header {
  align-items: center;
  /* border: 1px solid green; */
  display: flex;
  height: 60%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#div1-section-2 {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  margin-left: 7%;
}

#p-ola {
  font-size: 30px;
}

@keyframes neon {
  from {
    filter: drop-shadow(0 0 0 var(--neon-cor))
  }

  to {
    filter: drop-shadow(0 0 30px var(--neon-cor))
  }
}

#meu-nome {
  animation: neon .8s ease-in-out infinite;
  font-family: 'Londrina Shadow', cursive;
  font-weight: 600;
  font-size: 600%;
  margin-left: 10%;
  color: rgb(208, 255, 0);
  --neon-cor: rgb(208, 255, 0);
  -webkit-text-stroke: 1px black;
}


#front-title {
  margin-left: 4%;
  font-size: 40px;
}

#div2-section-2 {
  height: 100%;
}

#img-laptop {
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

#img-laptop:hover {
  border-radius: 50%;
  content: url('../images/euImg.jpg');
  opacity: 0.5;
}