@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Cinzel:wght@600&family=Kumar+One+Outline&family=Ledger&family=Londrina+Outline&family=Londrina+Shadow&family=Nova+Square&family=Quicksand:wght@300;500&family=Roboto:wght@100&family=Saira+Stencil+One&family=Train+One&display=swap');

#div-pro {
  display: flex;
}

#section-projects {
  background-color: rgb(38,38,38);
  height: 100%;
  padding-top: 5%;
  display: flex;
}

.div-hidden-projects {
  /* border: 1px solid red; */
  height: 97%;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  width: 97%;
}

#title-projects {
  /* border: 1px solid green; */
  margin-bottom: 30px;
  font-family: 'Bungee Outline', cursive;
  font-size: 40px;
  text-align: center;
}

#div-projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  /* border: 1px solid blue; */
}

.project {
  background-color: rgb(51,51,51);
  border-radius: 6px;
  height: 450px;
  width: 25%;
  font-family: 'Nova Square', cursive;
  font-size: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 2%;
}

.project-text {
  /* border: 1px solid blue; */
  width: 95%;
  height: 40%;
  margin: 2%;
}

.project:hover {
  background-color: rgb(70, 70, 70);
}

.project-text p {
  font-size: 20px;
  margin-top: 5%;
  width: 100%;
  /* border: 1px solid yellow; */
  word-wrap: break-word;
}

.descreve-project {
  /* border: 1px solid green; */
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.descreve-project h3 {
  font-size: 25px;
}

.imgs-icones {
  /* border: 1px solid yellow; */
  width: 25%;
  display: flex;
  justify-content: space-around;
}

.imgs-icones a {
  width: 100%;
  height: 85%;
  cursor: pointer;
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-around;
}

.imgs-icones a img {
  width: 55%;
  height: 85%;
  /* border: 1px solid red; */
}

.imgs-icones a img:hover {
  width: 65%;
  height: 95%;
}

.imgsProject {
  width: 95%;
  height: 45%;
  border-radius: 6px;
  margin: 2%;
}

@media (max-width: 1000px) {
  .project {
    width: 40%;
  }
}

@media (max-width: 680px) {
  .project {
    width: 55%;
  }
}

@media (max-width: 465px) {
  .project {
    width: 85%;
    height: 340px;
  }

  .project-text p {
    font-size: 14px;
  }

  .descreve-project h3 {
    font-size: 22px;
  }
}