@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Cinzel:wght@600&family=Kumar+One+Outline&family=Ledger&family=Londrina+Outline&family=Londrina+Shadow&family=Nova+Square&family=Quicksand:wght@300;500&family=Roboto:wght@100&family=Saira+Stencil+One&family=Train+One&display=swap');

#section-skills {
  background-color: rgb(51,51,51);
  height: 100vh;
}

#title-skills {
  font-family: 'Bungee Outline', cursive;
  text-align: center;
  font-size: 40px;
}

#div-list {
  /* border: 1px solid red; */
  display: flex;
  height: 85%;
  align-items: center;
  justify-content: space-around;
}

#list-skills {
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid green; */
  justify-content: center;
  align-content: center;
  height: 70%;
  padding: 0;
  width: 60%;
}

.li-tecs {
  background-color: rgb(145, 145, 145);
  display: flex;
  border-radius: 10px;
  /* border: 1px solid blue; */
  font-family: 'Nova Square', cursive;
  flex-direction: column;
  justify-items: center;
  list-style-type: none;
  height: 38%;
  text-align: center;
  width: 15%;
  margin: 1%;
}

.li-tecs:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.img-tec {
  margin: 9%;
}

#div-disc-tec {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Nova Square', cursive;
  font-size: 150%;
  height: 70%;
  width: 30%;
}

.div-linha-3 {
  background-color: white;
  height: 1px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}