@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Cinzel:wght@600&family=Kumar+One+Outline&family=Ledger&family=Londrina+Outline&family=Londrina+Shadow&family=Nova+Square&family=Quicksand:wght@300;500&family=Roboto:wght@100&family=Saira+Stencil+One&family=Train+One&display=swap');


/* Estilos base para telas maiores */
#div-trunfo-page {
  background-color: rgb(38, 38, 38);
  padding: 5% 5%;
}

#title-trunfo {
  font-family: 'Bungee Outline', cursive;
  text-align: center;
  font-size: 240%;
}

.texto-trunfo {
  font-family: 'Nova Square', cursive;
  text-align: justify;
  padding-top: 5%;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#texto-clique {
  font-family: 'Nova Square', cursive;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 1%;
}

#div-to-heroi {
  width: 100%;
  max-width: 700px; /* Defina o valor máximo que deseja para a imagem */
  height: auto; /* Ajusta a altura automaticamente */
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#link-to-heroi {
  width: 100%;
  height: 100%;
}

#img-herois {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  opacity: 0.5;
}

#img-herois:hover {
  opacity: 1;
  transform: scale(1.01);
}

/* Quando a largura da tela for menor ou igual a 768px */
@media (max-width: 768px) {
  #title-trunfo {
    font-size: 200%;
  }

  .texto-trunfo {
    width: 100%;
  }
}

/* Quando a largura da tela for menor ou igual a 480px */
@media (max-width: 480px) {
  #div-trunfo-page {
    padding: 2% 2%;
  }

  #title-trunfo {
    font-size: 180%;
  }

  .texto-trunfo {
    font-size: 18px;
  }
}
