#section-1-header {
  /* border: 1px solid yellow; */
  background-color: rgb(51,51,51);
  display: flex;
  padding: 15px;
}

#iconeTM {
  width: 6%;
  margin-left: 5%;
}

#h1-tom {
  margin-left: 5%;
  font-size: 50px;
}

#nav-header {
  align-items: center;
  /* border: 1px solid blue; */
  display: flex;
  margin-left: 10%;
  width: 50%;
}

#list-links {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.li-links {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.li-links:hover {
  font-weight: 800;
  --neon-cor: rgb(208, 255, 0);
  color: var(--neon-cor);
  box-shadow: 0 0 10px var(--neon-cor), 0 0 40px var(--neon-cor), 0 0 80px var(--neon-cor);
}